<!DOCTYPE HTML>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>
        Image filter
    </title>
    <!--<link rel="stylesheet" type="text/css" href="styles.css">-->
    <style>
        body {
            text-align: center;
            background-color: #4791D2;
            margin: 120px;
        }
    </style>

    <script>

        var globalString;

function original() {
    // Standard syntax
    document.getElementById("image").style.filter = "none";

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = "none";
}
function grayscale() {
    // Standard syntax
    var value = document.getElementById('grayscale-img').value;
    var string = "grayscale("+value+"%)";
    document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;  
}

function hueRotate() {
    // Standard syntax
    var value = document.getElementById('hue-rotate-img').value;
    var string = "hue-rotate("+value+"deg)";
    console.log("value",value);
    console.log("value",string);
    
    document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;  
}

function invert() {
    // Standard syntax
    var value = document.getElementById('invert-img').value;
    var string = "invert("+value+"%)";
    console.log("value",value);
    
    // console.log("string",string);
    
   document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}

function opacity() {
    var value = document.getElementById('opacity-img').value;
    console.log("value",value);
    var string = "opacity("+value+"%)";
    console.log("string",string);
    
    // Standard syntax
    document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}

function brightness() {
    var value = document.getElementById('bright-img').value;
    console.log("value",value);
    var string = "brightness("+value+"%)";
    console.log("string",string);
    
    // Standard syntax
    document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}
function contrast() {
    var value = document.getElementById('contrast-img').value;
    console.log("value",value);
    var string = "contrast("+value+"%)";
    console.log("string",string);
    
    // Standard syntax
    document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}

function saturate() {
    var value = document.getElementById('saturate-img').value;
    console.log("value",value);
    var string = "saturate("+value+"%)";
    console.log("string",string);
    
    // Standard syntax
    document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}

function sepia() {
    var value = document.getElementById('sepia-img').value;
    console.log("value",value);
    var string = "sepia("+value+"%)";
    console.log("string",string);
    
    // Standard syntax
    document.getElementById("image").style.filter = string;
    
    globalString = string;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}
function blurImage() {
    var value = document.getElementById('blur-img').value;
    console.log("value",value);
    var string = "blur("+value+"px)";
    console.log("string",string);
    
    // Standard syntax
    document.getElementById("image").style.filter = string;
    globalString = string;
    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}

function resize() {
    var width = document.getElementById('width-img').value;
    var height = document.getElementById('height-img').value;   

    var string = width+"%";
    var string1 = height+"%";
    
    // Standard syntax
    document.getElementById("image").style.width = string;
    document.getElementById("image").style.height = string1;

    // Safari 6.0 - 9.0
    document.getElementById("image").style.WebkitFilter = string;
}

</script>
</head>

<body>
    <h3>Change your image easly using several different filters</h3>
    <form method='post' action='/filter' class='form'  id ="form1" enctype='multipart/form-data'>
        <div id="imageDiv">
            <img id="image" src='./uploads/fullsize/image' alt="image" />
        </div>
        <div style="margin-top: 2%">
            <button type='button' id="buttonId" class="btn btn-default" onclick="original()"> Original</button>
            <button type='button' id="buttonId" class="btn btn-success" onclick="blurImage()"> Blur</button>
            <input type="number" id="blur-img" name="quantity" min="1" max="10">
            <button type='button' id="buttonId" class="btn btn-success" onclick="invert()"> Invert</button>
            <input type="number" id="invert-img" name="quantity" min="1" max="100">
            <button type='button' id="buttonId" class="btn btn-success" onclick="brightness()"> Brightness</button>
            <input type="number" id="bright-img" name="quantity" min="1" max="300">
            <button type='button' id="buttonId" class="btn btn-success" onclick="contrast()"> Contrast</button>
            <input type="number" id="contrast-img" name="quantity" min="1" max="300">
            <button type='button' id="buttonId" class="btn btn-danger" onclick="hueRotate()"> Hue Rotate</button>
            <input type="number" id="hue-rotate-img" name="quantity" min="1" max="360">
            <button type='button' id="buttonId" class="btn btn-default" onclick="grayscale()"> Grayscale</button>
            <input type="number" id="grayscale-img" name="quantity" min="1" max="100">
            <button type='button' id="buttonId" class="btn btn-warning" onclick="opacity()"> Opacity</button>
            <input type="number" id="opacity-img" name="quantity" min="1" max="100">
            <button type='button' id="buttonId" class="btn btn-info" onclick="saturate()"> Saturate</button>
            <input type="number" id="saturate-img" name="quantity" min="1" max="100">
            <button type='button' id="buttonId" class="btn btn-info" onclick="sepia()"> Sepia</button>
            <input type="number" id="sepia-img" name="quantity" min="1" max="100">
            <button type='button' id="buttonId" class="btn btn-info" onclick="resize()"> Resize image</button>
            <input type="number" id="width-img" name="quantity" min="1" max="300">
            <input type="number" id="height-img" name="quantity" min="1" max="300">
        </div>
</body>

</html>